<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.AdminMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="admin" type="org.gdpu.ols.model.Admin">
        <id column="id" property="id"></id>
        <result column="admin_name" property="adminName"/>
        <result column="admin_password" property="adminPassword"/>
        <result column="lastest_update_user" property="lastestUpdateUser"/>
        <result column="lastest_login_date" property="lastestLoginDate"/>
        <result column="lastest_update_date" property="lastestUpdateDate"/>
    </resultMap>

    <sql id="column">
        id,admin_name,admin_password,lastest_update_user,lastest_login_date,lastest_update_date
    </sql>

    <select id="selectOneAdmin" parameterType="java.lang.Integer" resultType="org.gdpu.ols.model.Admin">
        SELECT
        <include refid="column"/>
        FROM admin
        WHERE  id=#{id}
    </select>

    <!--批添加学生信息-->
    <insert id="addAdminBatch" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO admin(admin_name,admin_password,lastest_update_user,lastest_login_date,lastest_update_date)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.adminName},#{item.adminPassword},#{item.lastestUpdateUser},
            #{item.lastestLoginDate},#{item.lastestUpdateDate})
        </foreach>
    </insert>

</mapper>
