<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.CommentMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="comment" type="org.gdpu.ols.model.Comment">
        <id column="id" property="id"></id>
        <result column="courseware_id" property="coursewareId"></result>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_date" property="commentDate"/>
        <result column="is_reply" property="isReply"/>
        <result column="reply_goal" property="replyGoal"/>
        <result column="comment_author" property="commentauthor"/>
        <result column="star" property="star"/>
    </resultMap>

</mapper>
