<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.FileMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="file" type="org.gdpu.ols.model.File">
        <id column="id" property="id"></id>
        <result column="file_name" property="fileName"/>
        <result column="storage_location" property="storageLocation"/>
        <result column="publish_date" property="publishDate"/>
        <result column="file_type" property="fileType"/>
        <result column="author" property="author"/>
        <result column="main_file" property="mainFile"/>
        <result column="courseware" property="courseware"/>
    </resultMap>

    <!--批添加文件信息-->
    <insert id="addFileBatch" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO file(file_name,storage_location,publish_date,file_type,author,
        mainFile,courseware)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fileName},#{item.storageLocation},#{item.publishDate},#{item.fileType}
            ,#{item.author},#{item.mainFile},#{item.courseware})
        </foreach>
    </insert>
</mapper>
