<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.NoteMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="note" type="org.gdpu.ols.model.Note">
        <id column="id" property="id"></id>
        <result column="courseware_id" property="coursewareId"/>
        <result column="user" property="user"/>
        <result column="note_title" property="noteTitle"/>
        <result column="note_content" property="noteContent"/>
        <result column="note_date" property="noteDate"/>
        <result column="star" property="star"/>
    </resultMap>

</mapper>
