<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.StudentMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="student" type="org.gdpu.ols.model.Student">
        <id column="id" property="id"></id>
        <result column="student_name" property="studentName"/>
        <result column="student_password" property="studentPassword"/>
        <result column="student_email" property="studentEmail"/>
        <result column="student_sex" property="studentSex"/>
        <result column="photo_storage_location" property="photoStorageLocation"/>
        <result column="status" property="status"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="learning_time" property="learningTime"/>
    </resultMap>

    <!--获取所有的学生-->
    <select id="getStudentCount" resultType="int">
        SELECT count(id) FROM student
    </select>

    <!--根据studentName获取学生信息-->
    <select id="getStudentByName" resultMap="student" parameterType="java.lang.String">
        SELECT id,student_name,student_sex,student_email,student_password,status,teacher_id,learning_time
        FROM student
        WHERE student_name=#{item.studentName}
    </select>

    <!--批添加学生信息-->
    <insert id="addStudentBatch" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO student(student_name,student_sex,student_email,student_password,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.studentName},#{item.studentSex},#{item.studentEmail},#{item.studentPassword},#{item.status})
        </foreach>
    </insert>
    <!--批更新学生信息-->
    <update id="updateStudentBatch" parameterType="java.util.List">
        UPDATE student
        <foreach collection="list" item="item" index="index" separator=",">
            SET student_name=#{item.studentName},student_sex=#{item.studentSex},
            student_email=#{item.studentEmail},student_password=#{item.studentPassword}
            WHERE id=#{item.id}
        </foreach>
    </update>
    <!--验证用户信息-->
    <select id="authenticStudent" parameterType="java.lang.String" resultMap="student">
        SELECT id,student_name,student_sex,student_email,student_password,photo_storage_location,status,teacher_id,learning_time FROM student WHERE student_name=#{studentName}
        UNION
        SELECT id,student_name,student_sex,student_email,student_password,photo_storage_location,status,teacher_id,learning_time FROM student WHERE student_email=#{studentEmail}
    </select>

    <!--验证用户信息-->
    <select id="selectStudentByName" parameterType="java.lang.String" resultMap="student">
        SELECT id,student_name,student_sex,student_email,student_password,status,teacher_id,learning_time FROM student WHERE student_name=#{studentName}
    </select>
    <select id="selectStudentByEmail" parameterType="java.lang.String" resultMap="student">
        SELECT id,student_name,student_sex,student_email,student_password,status,teacher_id,learning_time FROM student WHERE student_email=#{studentEmail}
    </select>
</mapper>
