<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.TeacherMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="teacher" type="org.gdpu.ols.model.Teacher">
        <id column="id" property="id"></id>
        <result column="teacher_name" property="teacherName"/>
        <result column="real_name" property="realName"/>
        <result column="teacher_password" property="teacherPassword"/>
        <result column="teacher_email" property="teacherEmail"/>
        <result column="teacher_sex" property="teacherSex"/>
        <result column="degree" property="degree"/>
        <result column="university" property="university"/>
        <result column="self_introduction" property="selfIntroduction"/>
    </resultMap>

    <sql id="teacherColumn">
        id,teacher_name,real_name,teacher_password,teacher_email,teacher_sex,degree,university
    </sql>
    <!--批量添加老师信息-->
    <insert id="addTeacherBatch" parameterType="java.util.List" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_id()
        </selectKey>
        INSERT INTO teacher(teacher_name,real_name,teacher_password,teacher_email,teacher_sex,degree,university)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.teacherName},#{item.realName},#{item.teacherPassword},#{item.teacherEmail},
            #{item.teacherSex},#{item.degree},#{item.university})
        </foreach>
    </insert>

    <!--验证用户信息-->
    <select id="authenticTeacher" parameterType="java.lang.String" resultMap="teacher">
        SELECT
        <include refid="teacherColumn"/> FROM teacher WHERE teacher_name=#{teacherName}
        UNION
        SELECT
        <include refid="teacherColumn"/> FROM teacher WHERE teacher_email=#{teacherEmail}
    </select>
</mapper>
