<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.TeacherMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="teacher" type="org.gdpu.ols.model.Teacher">
        <id column="id" property="id"></id>
        <result column="real_name" property="realName"/>
        <result column="degree" property="degree"/>
        <result column="university" property="university"/>
        <result column="self_introduction" property="selfIntroduction"/>
        <result column="photo_storage_location" property="photoStorageLocation"/>
        <result column="recommend" property="recommend"/>
        <result column="identity_status" property="identityStatus"/>
    </resultMap>

    <sql id="teacherColumn">
        id,real_name,degree,university,self_introduction,photo_storage_location
    </sql>
    <!--批量添加老师信息-->
    <insert id="addTeacherBatch" parameterType="java.util.List" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_id()
        </selectKey>
        INSERT INTO teacher(real_name,degree,university,self_introduction,photo_storage_location)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.realName},#{item.degree},#{item.university},#{item.selfIntroduction},#{item.photoStorageLocation})
        </foreach>
    </insert>

    <!--验证用户信息-->
    <select id="authenticTeacher" parameterType="java.lang.String" resultMap="teacher">
        SELECT
        <include refid="teacherColumn"/> FROM teacher WHERE teacher_name=#{teacherName}
        UNION
        SELECT
        <include refid="teacherColumn"/> FROM teacher WHERE teacher_email=#{teacherEmail}
    </select>
    <insert id="addSingleTeacher" parameterType="org.gdpu.ols.model.Teacher" useGeneratedKeys="true" keyProperty="id">

        insert into teacher(degree,university,real_name,self_introduction,
        photo_storage_location,identity_status)
        values(#{degree}, #{university},#{realName},
        #{selfIntroduction},#{photoStorageLocation},#{identityStatus})
    </insert>

    <update id="updateTeacher">
        UPDATE teacher
        SET identity_status=#{status}
        WHERE id=#{id}
    </update>
</mapper>
