<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.gdpu.ols.mapper.ViewCoursewareDetailMapper">
    <cache eviction="LRU" flushInterval="60000" readOnly="true"/>
    <resultMap id="viewCoursewareDetail" type="org.gdpu.ols.model.ViewCoursewareDetail">
        <id column="id" property="id"></id>
        <result column="courseware_name" property="coursewareName"/>
        <result column="author" property="author"/>
        <result column="courseware_publish_date" property="coursewarePublishDate"/>
        <result column="courseware_status" property="coursewareStatus"/>
        <result column="courseware_introduction" property="coursewareIntroduction"/>
        <result column="courseware_tip" property="coursewareTip"/>
        <result column="courseware_content" property="coursewareContent"/>
        <result column="courseware_photo_location" property="coursewarePhotoLocation"/>
        <result column="aspect" property="aspect"/>
        <result column="category" property="category"/>
    </resultMap>

</mapper>
